<ng-template #viewEmployeeTitle>
  <h2 mat-dialog-title>View Employee</h2>
</ng-template>

<ng-template #editEmployeeTitle>
  <h2 mat-dialog-title>Edit Employee</h2>
</ng-template>

<ng-template #createEmployeeTitle>
  <h2 mat-dialog-title>Create Employee</h2>
</ng-template>

<ng-container *ngIf="employeeExists; else createEmployeeTitle">
  <ng-container *ngIf="employeeReadonly; else editEmployeeTitle">
    <ng-container *ngTemplateOutlet="viewEmployeeTitle"></ng-container>
  </ng-container>
</ng-container>

<mat-dialog-content class="mat-typography employee-form-dialog">
  <form [formGroup]="employeeForm">
    <div class="form">
      <div class="form-group">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            [(ngModel)]="employee.firstName"
            name="firstName"
            placeholder="Max"
            [readonly]="employeeReadonly"
            formControlName="firstName"
          />
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('firstName')!.hasError('pattern')"
          >
            Please enter a valid first name using only letters, hyphens, spaces,
            and German umlauts or 'ß', up to 50 characters.
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('firstName')!.hasError('required')"
          >
            Please enter a first name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            [(ngModel)]="employee.lastName"
            name="lastName"
            placeholder="Muster"
            [readonly]="employeeReadonly"
            formControlName="lastName"
          />
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('lastName')!.hasError('pattern')"
          >
            Please enter a valid last name using only letters, hyphens, spaces,
            and German umlauts or 'ß', up to 50 characters.
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('lastName')!.hasError('required')"
          >
            Please enter a last name
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Street</mat-label>
        <input
          matInput
          [(ngModel)]="employee.street"
          name="street"
          placeholder="Cool Street 23"
          [readonly]="employeeReadonly"
          formControlName="street"
        />
        <mat-error
          class="error-text"
          *ngIf="employeeForm.get('street')!.hasError('pattern')"
        >
          Please enter a valid street name using only letters, number, hyphens,
          spaces, and German umlauts or 'ß', up to 50 characters.
        </mat-error>
        <mat-error
          class="error-text"
          *ngIf="employeeForm.get('street')!.hasError('required')"
        >
          Please enter a street
        </mat-error>
      </mat-form-field>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Postcode</mat-label>
          <input
            matInput
            [(ngModel)]="employee.postcode"
            name="postcode"
            placeholder="12345"
            [readonly]="employeeReadonly"
            formControlName="postcode"
          />
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('postcode')!.hasError('pattern')"
          >
            Please enter a valid postal code with 5 digits.
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('postcode')!.hasError('required')"
          >
            Please enter a postcode
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input
            matInput
            [(ngModel)]="employee.city"
            name="city"
            placeholder="City"
            formControlName="city"
            [readonly]="employeeReadonly"
          />
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('city')!.hasError('pattern')"
          >
            Please enter a valid city name using only letters, hyphens, spaces,
            and German umlauts or 'ß', up to 50 characters.
          </mat-error>
          <mat-error
            class="error-text"
            *ngIf="employeeForm.get('city')!.hasError('required')"
          >
            Please enter a city
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Phone #</mat-label>
        <input
          matInput
          [(ngModel)]="employee.phone"
          placeholder="+49 1111 02313"
          formControlName="phone"
          [readonly]="employeeReadonly"
        />
      </mat-form-field>
      <mat-error
        class="error-text"
        *ngIf="employeeForm.get('phone')!.hasError('pattern')"
      >
        Please enter a valid phone number, including an optional country code at
        <br />
        the beginning and up to 15 digits.
      </mat-error>
      <mat-error
        class="error-text"
        *ngIf="employeeForm.get('phone')!.hasError('required')"
      >
        Please enter a phone number
      </mat-error>
    </div>
  </form>

  <div *ngIf="saving">
    <mat-spinner></mat-spinner>
    <mat-label>Saving Changes</mat-label>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button
    mat-button
    *ngIf="!employeeReadonly"
    [disabled]="!employeeForm.valid"
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
