.employee-edit-skills {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	.employee-edit-skills-add {
		display: flex;
		flex-direction: row;
		mat-form-field {
			height: 78px;
		}

		button {
			height: 60px;
			aspect-ratio: 1/1;
			outline: none;
			cursor: pointer;
			border: 0;
			background-color: #3f51b5;

			mat-icon {
				color: #fff;
			}
		}
	}

	.employee-edit-skills-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 10px;

		mat-chip {
			max-width: 150px;
			text-overflow: ellipsis;
		}
	}
}
