<h2 mat-dialog-title>Edit Employee</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="employee.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="employee.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput [(ngModel)]="employee.street">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postcode</mat-label>
    <input matInput [(ngModel)]="employee.postcode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="employee.city">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone #</mat-label>
    <input matInput [(ngModel)]="employee.phone">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button [mat-dialog-close]="employee" (click)="save()">Save</button>
</mat-dialog-actions>
