<h2 mat-dialog-title>Edit Employee</h2>
<mat-dialog-content>
  <p>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="employee.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="employee.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street</mat-label>
    <input matInput [(ngModel)]="employee.street">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postcode</mat-label>
    <input matInput [(ngModel)]="employee.postcode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="employee.city">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
    <mat-label>Phone #</mat-label>
    <input matInput [(ngModel)]="employee.phone">
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
    <mat-label>New Skill</mat-label>
    <input matInput (keyup.enter)="addSkill(skillsInput.value)" #skillsInput>
  </mat-form-field>
  </p>
  <mat-form-field>
    <mat-label>Skills</mat-label>
    <mat-chip-list class="chip-list" #skills>
      <mat-chip
        *ngFor="let skill of employee.skillSet"
        [selectable]="true"
        (removed)="removeSkill(skill)">
          {{ skill }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <div *ngIf="saving">
    <mat-spinner></mat-spinner>
    <mat-label>Saving Changes</mat-label>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
